@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world! Renata </h1>
<h3> Bem vindo ao meu primeiro App Wewb com Balzer do 3 Ano </h3>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
