@page "/sobre"

<PageTitle>Sobre</PageTitle>

<img src="renata.jpg" alt="renata" />
<p>
    Olá! Meu nome é Renata Letícia, tenho 17 anos e sou natural de Rondônia, nascida em 14/02/2008.
    Atualmente estou cursando o Ensino Médio integrado ao curso técnico em Informática no Instituto Federal de Rondônia (IFRO) – campus Ji-Paraná.
</p>
<p>
    Estudei na Escola Irmã Dorothy, em Presidente Médici, do Pré I até o 9º ano. Em 2023, mudei-me para Ji-Paraná com o objetivo de ampliar meus conhecimentos e me desenvolver na área da tecnologia.
</p>
<p>
    Tenho grande interesse em seguir carreira em Ciências da Computação, com foco em desenvolvimento front-end. Estou sempre em busca de aprender novas tecnologias, participar de projetos e crescer profissionalmente com criatividade, responsabilidade e dedicação.
</p>